@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  background-color: rgb(103, 82, 222);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  background-color: rgb(135, 118, 236);
}

.container h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
  color: #f3f3f3;
}

.input-field {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.input-field label {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 20px;
  color: #f3f3f3;
}

.input-field input {
  padding: 5px;
  border: 2px solid #000;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  outline: none;
  caret-color: #000;
  border-radius: 2px;
  background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

#generate {
  padding: 10px 50px;
  margin: 27px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  width: 70%;
  cursor: pointer;
  transition: .3s all ease-in-out;
  background-color: #6333d2;
}

#generate:hover {
  background-color: #492a93;
}

#result {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 765px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 7px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(135, 118, 236);
  }

  .container h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
    color: #f3f3f3;
  }
  
  .input-field {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .input-field label {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    color: #f3f3f3;
  }
  
  .input-field input {
    padding: 5px;
    border: 2px solid #000;
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    outline: none;
    caret-color: #000;
    border-radius: 2px;
    background-color: transparent;
  }
  
  #generate {
    padding: 7px 50px;
    margin: 27px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 60%;
    cursor: pointer;
    transition: .3s all ease-in-out;
    background-color: #6333d2;
  }
  
  #generate:hover {
    background-color: #492a93;
  }
  
  #result {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }
}